.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-family: 'Permanent Marker', cursive;
  color: #212121;
}
h2{
  font-family: 'Permanent Marker', cursive;
  color: #212121

}
.login{
  background-color: #1159e9;
}

.notes{
  width: 90%;
  background-color: #fff;
  margin: auto;
  padding-top: 1%;
  /* height: 80vh; */
}
@media only screen and (max-width:400px) {
  .notes{
    width: 100%;
    background-color: #fff;
    /* margin: auto; */
    padding-top: 1%;
    height: 180vh;
  }
  
}
.Navbar{
  padding-top: 1%;
  font-family: 'Permanent Marker', cursive;
   position: sticky;
   top:0;
  background-color: rgb(100, 99, 99);
  display: flex;
  color: whitesmoke;
  justify-content: space-around;
  /* position: sticky; */
  height: 40px;
  /* top:"50px" */
  z-index: 1;

}
.main{
  margin-top: 5%;
  /* width: 80%;
  margin: auto; */

}
body{
  background-color: rgb(221, 218, 218);
  color: black;

}
.main{
  /* width: 90%; */
  /* background-color: #1159e9; */
  /* margin: auto; */
  margin-top: 5%;
  /* box-shadow: 10px 10px 8px yellow;; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 3.5%;
  position: relative;

}

.Card{
  /* display: inline-block; */
        margin-left: 25px;
        margin-bottom: 25px;
        box-shadow: 10px 10px 8px #000;
        text-align: left;
        /* padding-left: 20px; */
        border: 1px dotted gray;
}
.Card h4,h3,p{
  padding-left: 20px;
  padding-right: 20px;

}
.Card h4,h3{
 
  font-family: 'Amaranth', cursive;

}
#topbar{
  display: flex;
  justify-content: space-between;
}

#post{
  position: fixed;
  left:50px;
  bottom: 50px;
  font-size: 50px;
  color:rgb(245, 19, 38)
}
#top{
  position: fixed;
  right: 10px;
  /* bottom: 50px; */
  color:rgb(245, 19, 38);
  width: 45px;
  font-size: 39px;
  border: none;
  background-color: transparent;
  top:1000px;
}
i{
  cursor: pointer;
}

input:focus{
  outline: none;
}
::placeholder{
  color: #000;
}